Repository OSGeo/grass-website, pull requests merged in 2024-03, with the labels that each got.

#413 News: GRASS GIS 8.3.2 released
  content/about/history/releases.md
  content/news/2024_03_07_GRASS_GIS_8_3_2_released.md
  data/grass.json
  static/images/news/grass832_lc_spatial_scale.png
Labels: help wanted, news

#418 news: Cite GRASS with DOI - contributed by Peter Loewe
  content/news/2024_03_15_GRASS_DOI_number_at_zenodo.md
  static/images/news/grass_in_zenodo.png
  static/images/news/grass_in_zenodo_citation.png
Labels: news

#420 news: post about the community meeting in Prague, 2024 edition
  content/news/2024_03_18_GRASS_Community_meeting_Prague_2024.md
  themes/grass/assets/css/style.css
Labels: news

#416 Deploy preview website with GitHub pages (from preview branch)
  .github/workflows/hugo.yml
Labels: enhancement

#422 home page carousel: promote releases, grants, community meeting, instead of the gallery
  static/images/other/grass_gis_mentoring.jpg
  static/images/other/grass_gis_student_grants.jpg
  static/images/other/grass_release.png
  static/images/other/grass_team_prague_2023_hike.jpg
  themes/grass/assets/css/style.css
  themes/grass/layouts/index.html
Labels: help wanted

#426 fix typo: GutHub -> GitHub
  content/news/2024_03_15_GRASS_DOI_number_at_zenodo.md
Labels: news
